body {
    font-family: Arial, sans-serif;
    background: #eae6e6;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.todo-container {
    background: rgb(227, 195, 195);
    padding: 20px;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(180, 17, 17, 0.1);
}

input {
    width: 75%;
    padding: 8px;
}

button {
    padding: 8px 10px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid #e0d2d2;
}

.done {
    text-decoration: line-through;
    color: rgb(92, 86, 86);
}
